<section id="section1" class="panel">
    <h1 class="user-panel-heading">
        Click on the images to find more about it.
    </h1>

    <div class="pro">
        <!-- loop through all our team members and put their info on the page -->
        {{#each product}}<!-- this is like a JS forEach loop -->
        <div class="user-panel">
            <a href="{{ID}}" class="u-link">
                <img src="images/{{Image}}" alt="fav image" class="p-product">
            </a>

            <h1>{{Name}}</h1>
            <h3>{{Genre}}</h3>
        
        </div>
        {{/each}}
    </div>   
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger fav image">
        </div>

        <div class="lb-content">
            <!-- render the database content here -->

        </div>
    </section>
</section>