<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css stuff -->
    <!-- link to reset -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <title>Favourite Things</title>
</head>

<body>
    <h1 class="heading">Favourite Things</h1>

    <main>
        {{{ body }}}
    </main>

    <footer class="footer">
        <p>©copyright 2019 Favourite Things</p>
    </footer>

    <a id="to-top" href="#" class="nav-item">▲</a>

    <script type="module" src="js/main.js"></script>
</body>

</html>