.lightbox { 
    display: none;
    //display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 20px;
    background-color: rgba(0, 0,0, 0.85);

    p {
        text-align: left;
        font-size: 16px;
        width: 850px;
        line-height: 1.5em;
    }

    .sidebar {
        flex: 1;
    }
    
    .lb-content {
        flex: 2.8;
    }

    img { max-width: 350px; }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: thin solid white;
        padding: 2px 16px 5px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.25);
        font-family: Arial, Helvetica, sans-serif;
    }
}

.show-lb { display: flex !important; }

.u-social {
    li { 
        //display: inline-block;
        padding: 5px;
    }
}

