.team { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .user-panel {
        flex: 0 1 200px;
        text-align: center;
        padding: 8px;


        .p-product { 
            max-width: 200px; 
            margin-bottom: 20px;
        }

        .u-link { 
            display: block; 
            width: 150px;  
            text-decoration: none;
            margin: 0 auto;
            color: black;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            padding: 5px;
            text-align: center;
            font-size: 16px;
        }

        h1{ 
            margin: 20px 0;
            font-size: 2em;
        }
        
        h3{
            margin: 10px 0;
            font-size: 1em;
        }
    }
}

@media screen and (min-width: 900px) {
    .team {
        .user-panel { 
            flex: 1 1;

            .p-product { max-width: 300px; }
        }
    }
}

